{% extends "home.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="{% static 'img_4.png' %}" alt="Card image cap" style="padding: 20px;">
          <div class="card-body">
            <p class="card-text">Sanjeev Kapoor is the most famous and commended face as the most favorite among top 10 chefs in India. He has great name in Indian food today. He is a professional Chef, works for an effective TV Channel ‘FoodFood‘. Sanjeev Kapoor is among most popular top ten chefs in India</p>
          </div>
      </div>
      </div>
    <div class="col">
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="{% static 'img_5.png' %}" alt="Card image cap" style="padding: 20px;">
          <div class="card-body">
            <p class="card-text">Vikas Khanna name as winning Michelin star culinary expert competition and second most popular one among top ten in India is Vikas Khanna. He is considered as the humble chef in the culinary field. He began his hourney in his grandma’s kitchen in Amritsar</p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="{% static 'img_6.png' %}" alt="Card image cap"style="padding: 20px;">
        <div class="card-body">
          <p class="card-text">Hari Nayak is an Indian cook, restaurateur, creator and an Indian among top 10 chefs in India. He is also a culinary teacher. He is the author of “Present day Indian Cooking”. Cooking specialist Hari Nayak has led the coming era of Indian Cooking with his most recent cookbook with Chef Daniel Bolud.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
